@import "../../../styles/index";

.search_container {
  padding-top: 1.25rem;
  position: relative;

  &::before {
    content: "";
    background-image: var(--searchInputImg);
    background-repeat: no-repeat;
    background-size: 1.5rem 1.5rem;
    opacity: 0.5;

    position: absolute;
    top: 45%;
    left: 5px;
    width: 1.5rem;
    height: 1.5rem;
    z-index: 0;
    pointer-events: none;
  }

  &__input {
    outline: none;
    border: 1px solid transparent;
    border-radius: 0.25rem;

    color: var(--fontColor);
    background-color: var(--backgroundColor);

    padding: 0.5rem 0 0.5rem 2rem;
    transition: border .125s ease-in;

    max-width: 100%;
    width: 25%;

    box-sizing: border-box;

    &::placeholder {
      font-weight: 600;
      font-size: 1rem;
    }

    &:focus {
      border: 1px solid #8c8c8c;
      transition: border .125s ease-in;
    }

    @media screen and (max-width: 600px) {
      width: 100vw;
      border-bottom: 1px solid var(--borderColor);
    }
  }
}


[data-theme="dark"] .search_container::before {
    filter: invert(1);
}